In [ ]:
#Reverse of a number
a=int(input("enter the value:"))
n=a
s=str(a)
l=len(s)

sum=0

div=10**(l-1)

for i in range(0,l):
    n=n%10
    mul=n*div
    a=a//10
    n=a
    div=div/10
    sum=sum+mul

print(int(sum))

In [ ]:
#Armstrng number
def armstrong():
    arm=int(input("Enter a Number "))
    arm_copy=arm
    arm_str=str(arm)
    arm_len=len(arm_str)

    sum=0

    for i in range(arm_len):
        mod=arm%10
        sum=sum+(mod**arm_len)
        arm=arm//10
    if(sum==arm_copy):
        print("Number is Armstrong")
    else:
        print("Number is not Armstrong")
armstrong()

In [5]:
n=int(input("Enter the last value: "))
x=0
y=1
z=0
while(z<=n):
    print(z)
    x=y
    y=z
    z=x+y

Enter the last value: 13
0
1
1
2
3
5
8
13

In [4]:
def fibo():
    a=0
    b=1
    sum=0
    n = int(input("Entre number "))
    print(a)
    print(b)


    for i in range(1,n):
        sum=a+b
        a=b
        b=sum
        print(sum)  

fibo()

Entre number 13
0
1
1
2
3
5
8
13
21
34
55
89
144
233

In [44]:
def factorial():
    n=int(input("Enter Number "))
    i=n
    fact=1
    while(n!=0):
        fact=fact*n
        n=n-1
        while(i>=2):
            
            print(i,end=" x ")
            i=i-1
    print("1 = ",end="")
    print(fact)
    
factorial()

Enter Number 12
12 x 11 x 10 x 9 x 8 x 7 x 6 x 5 x 4 x 3 x 2 x 1 = 479001600

In [29]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [16]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
fruits=["apple","banana","cherry","mango"]
new_list=[x for x in fruits if "apple" not in x]
print(new_list)

['banana', 'cherry', 'mango']

In [11]:
n=int(input("Eenter any number"))
list=[i for i in range(0,n+1)]
print(list)

Eenter any number10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
fruits=["apple","banana","cherry","mango"]
new_list=[x if x!="banana" else "orange" for x in fruits]
print(new_list)

['apple', 'orange', 'cherry', 'mango']